<h1> Welcome to the dictionary </h1>

<form action = "/:user_word/results">
<label for="scrabble"> Enter a word </label> 
<input id= "scrabble" type = "text" name="users_words">

<button> enter </button>

</form>
